# PYTHON BUILD FILES / BYTECODE
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.joblib

# VIRTUAL ENVIRONMENTS
venv/
.env/
env/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/


# ML & DATA FILES (DO NOT PUT RAW DATA IN GIT)
data/
datasets/
raw_data/
*.csv
*.tsv
*.json
*.xlsx
*.xls
*.parquet
*.pqt
*.feather
*.html


# TRAINED MODELS
models/
*.h5
*.pt
*.pickle
*.bin
*.onnx
*.sav

# LOGS
logs/
*.log

# JUPYTER
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.ipynb

# IDE / DEVELOPMENT
.vscode/
.idea/
*.iml

# OS-SPECIFIC
.DS_Store
Thumbs.db

# ALT-AIR / PLOTS / TEMP FILES
*.png
*.svg
*.pdf

# CACHE
.cache/
.cache/*

# Pydantic & Config
*.env
.env.*

# test files .py
test_code.py